@using CoProject.Shared;

<div class="project">
    <a href="/project/@Project.Id">
        <h1 class="project-name">@Project.Name</h1>
        <p class="project-description">@Project.Description</p>
        <div class="supv">
            <img class="supv-img" src="@Project.Supervisor.Image"/>
            <p class="supv-name">Made by @Project.Supervisor.Name</p>
        </div>
        <div class="tags">
            @foreach (var tag in Project.Tags)
            {
                <button class="tag">@tag</button>
            }
        </div>
    </a>
</div>

@code {

    [Parameter]
    public ProjectDetailsDTO Project { get; set; }

}