@using CoProject

<div class="project">
    <h1 class="project-name">@Project.Name</h1>
    <p class="project-description">@Project.Description</p>
    <div class="supv">
        <img class="supv-img" src=@GetSupervisorImgSrc()/>
        <p class="supv-name">Made by @GetSupervisorName()</p>
    </div>
    <div class="tags">
        @foreach (var tag in Project.Tags)
    {   <button class="tag" @onclick="@(e => Console.WriteLine(tag))">@tag</button> }
    </div>

</div>

@code {

    [Parameter]
    public CoProject.FrontEnd.ProjectCreateDTO Project { get; set;} =
        new()
        {
            Name = "Lorem ipsum",
            Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            SupervisorId = -1,
            Tags = InitTags()
        };

    public static List<string> InitTags()
    {
        var Tags = new List<string>();
        Tags.Add("testing");
        Tags.Add("lorem ipsum");
        Tags.Add("lorem ipsum");
        Tags.Add("lorem ipsum");
        Tags.Add("lorem ipsum");
        return Tags;
    }
    
    public string GetSupervisorImgSrc()
    {
        //return userrepo.Read(Project.SupervisorId).Img;
        return "https://www.w3schools.com/images/picture.jpg";
    }

    public string GetSupervisorName()
    {
        //return userrepo.Read(Project.SupervisorId).Name;
        return "Mr. Supervisor";
    }
}